[submodule "smaragd/third_party/clap"]
	path = smaragd/third_party/clap
	url = https://github.com/free-audio/clap.git
[submodule "smaragd/third_party/vst3_pluginterfaces"]
	path = smaragd/third_party/vst3_pluginterfaces
	url = https://github.com/steinbergmedia/vst3_pluginterfaces.git
